.container {
  flex-grow: 1;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
  flex-grow: 1;
}

.title {
  text-align: center;
}

.graphic {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stato {
  display: flex;
  flex-direction: column;
}

.image {
  margin: 0 auto;
}

.description {
  text-align: justify;
}

.link {
  color: #0074d9;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

footer {
  height: 80px;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 12px;
}

hr.elegant-hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 20px 0;
  opacity: 0.6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
